{% extends "base.html" %}

{% block title %}
<title>Segunda Mano</title>
{% endblock %}
    

{% block content %} 
<h1>Productos Favoritos</h1>

{%if not fav %}
    <p>No hay favoritos</p>
{%else%}
<div class="container d-flex">
    {%for p in fav %}

    <div class="card m-2 col-2">
        <img  src="{{p.image.url}}" class="card-img-top" alt="{{p.name}}">
        <div class="card-body">
          <h5 class="card-title">{{p.name}}</h5>
          <p class="card-text">Stock: {{p.stock}}</p>
          <a href="{%url 'details_product' p.id %}" 
             class="btn btn-info"
            >Details</a>
           <a href="{%url 'unlike_product' p.id %}" 
           class="btn btn-warning"
          >Unlike</a>
        </div>
      </div>

    {%endfor%}         
{%endif%}
</div>


<script>
    function confirmar(id) {
      let ok = confirm("Do you delete Product #"+id+"?");
      return ok
  
    }
  </script>

{% endblock%} 

